<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.antaina.mapper.ProductInfoMapper">
    <select id="getListByParams" resultType="com.antaina.model.product.ProductInfoQueryModel">
        SELECT pi.*, ci.`name` AS customer_name
        FROM product_info `pi`
        LEFT JOIN `customer_info` ci ON ci.`id` = pi.`customer_id`
        where 1=1
        <if test="customerProductCode!=null and customerProductCode!=''"> and pi. `customer_product_code` like CONCAT('%',#{customerProductCode},'%')</if>
        <if test="productCode!=null and productCode!=''"> and pi. `product_code` like CONCAT('%',#{productCode},'%')</if>
        <if test="productName!=null and productName!=''"> and pi. `product_name` like CONCAT('%',#{productName},'%')</if>
        <if test="type!=null"> and pi. `type` =#{type}</if>
        <if test="customerId!=null"> and pi. `customer_id` =#{customerId}</if>
        order by pi.create_time desc, ci.`priority` desc
    </select>
</mapper>