<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.antaina.mapper.RptStorageMapper">

    <insert id="batchInsert" parameterType="com.antaina.entity.storage.RptStorage">
        INSERT INTO `rpt_storage`(`id`,`product_code`,`input_amount`,`output_amount`,`type`,`create_time`,`update_time`)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id},#{item.productCode},#{item.inputAmount},#{item.outputAmount},#{item.type},NOW(),NOW())
        </foreach>
    </insert>

    <select id="getListByParams" resultType="com.antaina.model.storage.RptStorageQueryModel">
        SELECT ci.`name` AS customer_name, pi.`product_name`,pi.`model` AS product_model, pi.`product_unit`, pi.`type`
        AS product_type, pi.`total_amount`,rs.`id`,rs.`product_code`,rs.`input_amount`,rs.`output_amount`,rs.`type`,rs.`create_time`,rs.`update_time`
        FROM `rpt_storage` rs
        LEFT JOIN `product_info` `pi` ON rs.`product_code`=`pi`.`product_code`
        LEFT JOIN `customer_info` ci ON ci.`id`= pi.`customer_id`
        where 1=1
        <if test="type!=null"> AND rs. `type` =#{type}</if>
        <if test="productCode!=null and productCode!=''"> AND pi. `product_code` like CONCAT('%',#{productCode},'%')</if>
        <if test="startTime!=null and startTime!=''"> AND rs.`create_time` >= #{startTime}</if>
        <if test="endTime!=null and endTime!=''"> AND <![CDATA[ rs.`create_time` <= #{endTime} ]]> </if>
    </select>

    <select id="getListByTimeInterval" resultType="com.antaina.entity.storage.RptStorage">
        SELECT rs.*
        FROM `rpt_storage` rs
        WHERE rs. `type` =#{frequencyType}
        AND rs.create_time >= DATE_ADD(NOW(), INTERVAL ${timeInterval} ${timeUnit});
    </select>

    <select id="exportRptStorage" resultType="com.antaina.model.storage.RptStorageExportModel">
        SELECT
        ci.`name` AS customer_name,
        rs.`product_code`,
        pi.`product_name`,
        pi.`model` AS product_model,
        CASE pi.`type` WHEN 0 THEN '原料' WHEN 1 THEN '半成品' WHEN 2 THEN '成品' ELSE '未定义' END AS product_type,
        CASE pi.`product_unit` WHEN 0 THEN '片' WHEN 1 THEN '个' WHEN 2 THEN 'KG' ELSE '未定义' END AS product_unit,
        pi.`total_amount`,
        rs.`input_amount`,
        rs.`output_amount`,
        CASE rs.`type` WHEN 0 THEN '每小时' WHEN 1 THEN '每天' WHEN 2 THEN '每周' WHEN 3 THEN '每月' WHEN 4 THEN '每年' ELSE '未定义' END type,
        rs.`create_time`,
        rs.`update_time`
        FROM `rpt_storage` rs
        LEFT JOIN `product_info` `pi` ON rs.`product_code`=`pi`.`product_code`
        LEFT JOIN `customer_info` ci ON ci.`id`= pi.`customer_id`
        where 1=1
        <if test="type!=null"> AND rs. `type` =#{type}</if>
        <if test="productCode!=null and productCode!=''"> AND pi. `product_code` like CONCAT('%',#{productCode},'%')</if>
        <if test="startTime!=null and startTime!=''"> AND rs.`create_time` >= #{startTime}</if>
        <if test="endTime!=null and endTime!=''"> AND <![CDATA[ rs.`create_time` <= #{endTime} ]]> </if>
    </select>
</mapper>